/* Mobile-First: Default CSS for mobile styles (0px - 576px) */

.profile-avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

h1, .h1 {
  font-size: 1.75rem;
}

.card-header h2, .card-header .h2 {
  font-size: 1.25rem;
}


.login-logo {
  width: 60px;
}

.info-label {
  display: none;
}

/* Small tablets */
@media (min-width: 576px) {
  h1, .h1 {
    font-size: 2rem;
  }
  .info-label {
    display: inline;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
  }
  
  h1, .h1 {
    font-size: 2.25rem;
  }

  .card-header h2, .card-header .h2 {
    font-size: 1.5rem;
  }

  .login-logo {
    width: 80px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
