
.login-error-message {
    border: solid 2px red;
    background: lightpink;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
    color: red;
    font-size: smaller;
}

.user-info {
    background: #edeff1;
    border-radius: 4px;
    padding: 24px 23px 20px;
}

.list-header {
    background: #edeff1;
    border-bottom: 2px solid #2f4154;
}

.list-row {
    font-size: smaller;
    padding: 1px;
}

.row2 {
    background: #edeff1;
}

.control-panel {
    background: #edeff1;
    border-top: 2px solid #2f4154;
    border-radius: 0 0 4px 4px;
    margin-bottom: 10px;
}

.post-task {
    border: 1px dotted #2f4154;
    padding: 2px 2px 2px 10px;
}

label {
    margin-bottom: 1px;
}

.btn-primary {
    background-color: #2e718d;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #448ab4;
}

.btn-primary:active {
    background-color: #5183ad;
}

div.question-wrapper {
    margin-bottom: 10px;
}

div.question-wrapper .question-text {
    font-size: large;
}

div.question-wrapper .notice {
    font-style: italic;
}

div.question-wrapper > :not(.question-text) {
    padding-left: 20px;
}


div.question-wrapper .static-task-info {
    color: #ef2e3c;
    font-weight: bold;
}

.rrweb-player-wrapper {
    width: 800px;
    height: 450px;
    background: #7f7f88;
    display: inline-block;
}

.webpage-wrapper {
    margin: 20px 0 20px 0;
}

.task_wrapper {
    border-radius: 4px;
    padding: 10px 23px 20px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #c2c9c9;
    transition: all 0.2s ease-in-out;
}

.task_wrapper:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cancel-button {
    background-color: #777e7e !important;
}

.cancel-button:hover {
    background-color: #555757 !important;
}

.cancel-button:active {
    background-color: #444545 !important;
}

.tool-block {
    margin-bottom: 10px;
}

.sheet {
    border: 1px dashed #000;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.question-wrapper textarea {
    padding: 10px;
    font-size: large;
    max-width: 100%;
    min-width: 100%;
}

details:hover {
    cursor: pointer;
}